@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    h1{
      @apply text-4xl;
      @apply font-bold;
      @apply text-eternity;
    }
    h2{
      @apply text-3xl;
      @apply font-bold;
      @apply text-eternity;
    }
    h3{
      @apply text-xl;
      @apply font-bold;
      @apply text-eternity;
    }
    h4{
      @apply text-lg;
      @apply font-bold;
      @apply text-eternity;
    }
    h5{
      @apply font-bold;
    }
    body{
      @apply font-normal;
    }

  }

  @layer components{
    .input-error{
      @apply text-xs text-red-500;
    }

    .element-form{
      @apply w-[80%] md:w-2/3 m-auto mb-16;
    }

    .table-row{
      @apply border-b odd:bg-white even:bg-linen ;
    }

    .admin-panel-action-button{
      @apply grid w-10 h-10 text-white place-items-center rounded-xl md:text-xl;
    }

    .yellow-gradient{
      @apply bg-gradient-to-tr from-yellow-600 to-yellow-400;
    }

    .emerald-gradient{
      @apply bg-gradient-to-tr from-emerald-600 to-emerald-400;
    }

    .blue-gradient{
      @apply bg-gradient-to-tr from-blue-800 to-blue-600;
    }

    .rose-gradient{
      @apply bg-gradient-to-tr from-rose-600 to-rose-400;
    }

    .darkgrey-gradient{
      @apply bg-gradient-to-tr from-neutral-800 to-neutral-600;
    }

    .grey{
      @apply fill-gray-300;
    }

    .yellow{
      @apply fill-yellow-400;
    }

    .form-button{
      @apply px-3 py-2 text-sm font-semibold text-white rounded-md shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600;
    }

    .primary-button{
      @apply text-white transition duration-150 ease-in-out bg-coldPurple hover:bg-eternity focus:ring-0 focus:bg-eternity;
    }
  }

body *{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.berkshire{
  font-family: "Berkshire Swash", serif;
}

.poppins{
  font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: "Berkshire Swash", serif;
}

.work-sans {
    font-family: 'Work Sans', sans-serif;
}

#menu-toggle:checked + #menu {
    display: block;
}

.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}

.hover\:grow:hover {
    transform: scale(1.02);
}

.carousel-open:checked + .carousel-item {
    position: static;
    opacity: 100;
}

.carousel-item {
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}

#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #000;
    /*Set to match the Tailwind colour you want the active one to be */
}

